.container{
    color: var(--primary-text-color);
    align-items: center;
    justify-content: center;
    min-width: 30%;
    margin-top: 2em;
}

a{
    text-decoration: none;
}

.card__small__text{
    display: flex;
    align-items: flex-start;
    font-size: 1.05em;
    gap: 1em;
    margin-bottom: 1.5em;
}

.card__small__text span{
    content: "";
    display: block;
    background-color: #551A8B;
    padding:  .6em;
    border-radius: 50%;
}

.card__text h2{
    margin-bottom: 1em;
    font-size: 1.35rem;
}

.card__body{
    font-size: 1.15em;
    margin-bottom: 1em;
    width: 96%;
}

.card__tags{
    display: flex;
    align-items: center;
    gap: 1em;
}

.card__tags p{
    font-size: 1em;
    border-radius: 20px;
    padding: .3em 1.3em;
    border: 2px solid var(--asset-bg-color);
}

@media only screen and (max-width: 1800px){

    .container img{
        width: 355px;
    }
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 300px;
        flex-direction: column;
    }

    .container img{
        width: 255px;
    }
}

@media only screen and (max-width: 750px) {
    .container{
        width: 350px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {
    .container{
        width: 484px;
        flex-direction: column;
        padding: 0;
    }

    .container img{
        width: 484px;
        margin-top: 1em;
    }

    .card__text{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .container{
        width: 300px;
        flex-direction: column;
        padding: 0;
    }

    .container img{
        width: 290px;
        margin-top: 1em;
    }

    .card__text{
        width: 100%;
    }

    .card__small__text{
        font-size: .9rem;
        margin-bottom: 0.5em;
        align-items: center;
    }

    .card__text h2{
        margin-bottom: 0.8em;
        font-size: 1.1rem;
    }

    .card__body{
        font-size: 1rem;
    }

    .card__small__text span{
        padding: .3em;
    }

    .card__tags p{
        font-size: .8rem;
    }
}